:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#map {
  z-index: 1;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

#legend {
  z-index: 2;
  position: fixed;
  background-color: #2c3032;
  text-align: center;
  left: 48px;
  width: 100px;
  bottom: 48px;
  display: block;
  transform: none;
  color: #fff;
  padding: 12px;
  border-radius: 3px;
  display: block;
  padding: 18px;
}

.distance {
  text-align: center;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.429;
  letter-spacing: 0.018em;
  color: #c6c6c6;
}

.color-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 14px;
}
